@charset "utf-8";
/* CSS Document */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Montserrat ExtraLight";
    src: url(../../fonts/Montserrat-Light.ttf) format("truetype");
}

@font-face {
    font-family: "Montserrat Light";
    src: url("../../fonts/MontserratLight.otf") format("opentype"), url(../../fonts/Montserrat-ExtraLight.ttf) format("truetype");
}

@font-face {
    font-family: "Montserrat Bold";
    src: url("../../fonts/MontserratBold.otf") format("opentype"), url(../../fonts/MontserratBold.otf) format("truetype");
    font-weight: bold;
    /* 指定字体粗细 */
}

ol,
ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

i {
    font-style: normal;
}

a {
    color: var(--default-color, #ffffff);
    transition: transform 0.2s ease-in-out;
    /* blr: expression(this.onFocus=this.blur()); */
}

a:focus {
    outline: none;
}

a.hidefocus {
    outline: none
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.txt-important-White {
    font-size: 0.28rem;
    color: #fff;
    font-family: 'Montserrat Bold', sans-serif;
}

.txt-important-jili {
    font-size: 0.28rem;
    color: var(--color-jili);
    font-family: 'Montserrat Bold', sans-serif;
}

.txtauto {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.txtNrow {
    white-space: nowrap;
}

.txtelement {
    text-transform: uppercase;
}

/*  */
.clearfix:after,
.clearfix::before {
    display: block;
    content: "";
    clear: both;
    height: 0;
    overflow: hidden;

}

.clearfix {
    zoom: 1;
}

img {
    display: block;
}

body {
    font-size: 0.27rem;
    line-height: 1.5;
    font-family: "Montserrat Light", sans-serif;
    /* font-family: 'Montserrat', sans-serif; */
    font-weight: 400;
    color: var(--default-color, #c0c6db);
    background-color: #0e121d;
}

.bodyIndex {
    /* background: url(../images/back.jpg) no-repeat top center #0e121d; */
    /* background: url(../images/back.jpg) no-repeat top center #0e121d; */
    background-color: #000;
    background-attachment: fixed;
    background-size: 100% auto;
}

.clear {
    clear: both;
}

.dispflex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.dispflex-l {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.dispflex-l-t {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.dispflex-r {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: flex-end;
    -ms-flex-align: flex-end;
    align-items: flex-end;
    justify-content: flex-end;
}

.dispflex-c {
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-align: center;
    -ms-flex-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.txtUppercase {
    text-transform: uppercase;
}

.hide {
    display: none;
}

.show {
    display: block !important;
}

/*  */
.mln {
    margin-left: 0.08rem !important;
}

.mlm {
    margin-left: 0.2rem !important;
}

.mlw {
    margin-left: 0.3rem !important;
}

.mls {
    margin-left: 0.4rem !important;
}

.mlv {
    margin-left: 0.5rem !important;
}

/*  */
.mrn {
    margin-right: 0.1rem !important;
}

.mrm {
    margin-right: 0.2rem !important;
}

.mrw {
    margin-right: 0.3rem !important;
}

.mrs {
    margin-right: 0.4rem !important;
}

.mrv {
    margin-right: 0.5rem !important;
}

/*  */
.mbn {
    margin-bottom: 0.1rem !important;
}

.mbm {
    margin-bottom: 0.2rem !important;
}

.mbw {
    margin-bottom: 0.3rem !important;
}

.mbs {
    margin-bottom: 0.4rem !important;
}

.mbv {
    margin-bottom: 0.5rem !important;
}

/*  */
.mtn {
    margin-top: 0.1rem !important;
}

.mtm {
    margin-top: 0.2rem !important;
}

.mtw {
    margin-top: 0.3rem !important;
}

.mts {
    margin-top: 0.4rem !important;
}

.mtv {
    margin-top: 0.5rem !important;
}

/* padding */
/*  */
.pln {
    padding-left: 0.1rem !important;
}

.plm {
    padding-left: 0.2rem !important;
}

.plw {
    padding-left: 0.3rem !important;
}

.pls {
    padding-left: 0.4rem !important;
}

.plv {
    padding-left: 0.5rem !important;
}

/*  */
.prn {
    padding-right: 0.1rem !important;
}

.prm {
    padding-right: 0.2rem !important;
}

.prw {
    padding-right: 0.3rem !important;
}

.prs {
    padding-right: 0.4rem !important;
}

.prv {
    padding-right: 0.5rem !important;
}

/*  */
.pbn {
    padding-bottom: 0.1rem !important;
}

.pbm {
    padding-bottom: 0.2rem !important;
}

.pbw {
    padding-bottom: 0.3rem !important;
}

.pbs {
    padding-bottom: 0.4rem !important;
}

.pbv {
    padding-bottom: 0.5rem !important;
}

/*  */
.ptn {
    padding-top: 0.1rem !important;
}

.ptm {
    padding-top: 0.2rem !important;
}

.ptw {
    padding-top: 0.3rem !important;
}

.pts {
    padding-top: 0.4rem !important;
}

.ptv {
    padding-top: 0.5rem !important;
}

/*  */
.w-size-10 {
    width: 10%;
}

.w-size-20 {
    width: 20%;
}

.w-size-30 {
    width: 30%;
}

.w-size-40 {
    width: 40%;
}

.w-size-50 {
    width: 50%;
}

.w-size-60 {
    width: 60%;
}

.w-size-70 {
    width: 70%;
}

.w-size-80 {
    width: 80%;
}

.w-size-90 {
    width: 90%;
}

.w-size-100 {
    width: 100%;
}

.h-size-10 {
    height: 10%;
}

.h-size-20 {
    height: 20%;
}

.h-size-30 {
    height: 30%;
}

.h-size-40 {
    height: 40%;
}

.h-size-50 {
    height: 50%;
}

.h-size-60 {
    height: 60%;
}

.h-size-70 {
    height: 70%;
}

.h-size-80 {
    height: 80%;
}

.h-size-90 {
    height: 90%;
}

.h-size-100 {
    height: 100%;
}

/* font */
.Fcolor-jili {
    color: var(--color-jili) !important;
}

.Fcolor-red {
    color: #ff3e1e !important;
}

.Fcolor-blue {
    color: #00aeff !important;
}

.Fcolor-green {
    color: #00ff66 !important;
}

.Fcolor-yellow {
    color: #ffde00 !important;
}

.Fcolor-white {
    color: #fff !important;
}

.Fcolor-sm {
    color: #8490af !important;
}

.Fcolor-black {
    color: var(--color-jili-black) !important;
}

.txt-l {
    text-align: left !important;
}

.txt-c {
    text-align: center !important;
}

.txt-r {
    text-align: right !important;
}
.txt-lr{
    text-align: justify !important;
}
.Fsize-n {
    font-size: 0.25rem;
}

.Fsize-m {
    font-size: 0.28rem;
}

.Fsize-w {
    font-size: 0.35rem;
}

.Fsize-v {
    font-size: 0.42rem;
}

.F-bold {
    font-weight: bold;
    font-family: 'Montserrat Bold', sans-serif;
}

/* back */
.Back-jili {
    color: var(--default-back-color) !important;
    background-color: var(--color-jili) !important;
}

.Back-red {
    color: #fff !important;
    background-color: #ff3e1e !important;
}

.Back-blue {
    color: #fff !important;
    background-color: #00aeff !important;
}

.Back-green {
    color: #fff !important;
    background-color: #00ff66 !important;
}

.Back-yellow {
    color: #fff !important;
    background-color: #ffde00 !important;
}

.Back-black {
    color: #fff !important;
    background-color: var(--default-back-color) !important;
}

/*  */
.pos-r {
    position: relative;
}

.pos-a {
    position: absolute;
}

/* table */
.table-all {
    background-color: #1c202a;
    border-collapse: collapse;
    padding: 0;
    margin: 0;
    width: 100%;
    margin-bottom: 14px;
}

.table-all td,
.table-all th {
    border: 1px solid #2b303e;
    padding: 12px;
    color: var(--default-color);
    text-align: center;
}

.table-all th {
    font-family: 'Montserrat Bold', sans-serif;
    font-size: 15px;
    font-weight: 800;
}

.table-all tr:nth-child(even) {
    background-color: #212631;
}

/*  */
.menuBtn-gradient-1 {
    background-image: linear-gradient(130deg, #209cff, #68e0cf);
}

.menuBtn-gradient-2 {
    background-image: linear-gradient(130deg, #b463d8, #ee609c);
}

.menuBtn-gradient-3 {
    background-image: linear-gradient(130deg, #043eaf, #3bc3ed);
}

.menuBtn-gradient-4 {
    background-image: linear-gradient(130deg, #ff887c, #b6325f);
}

.menuBtn-gradient-5 {
    background-image: linear-gradient(130deg, #f8cb22, #f83600);
}

.menuBtn-gradient-6 {
    background-image: linear-gradient(130deg, #29f19c, #02a1f9);
}

.menuBtn-gradient-7 {
    background-image: linear-gradient(130deg, #b3b6eb, #e88a98);
}

.menuBtn-gradient-8 {
    background-image: linear-gradient(130deg, #e1afcc, #7530e3);
}

.menuBtn-gradient-9 {
    background-image: linear-gradient(130deg, #fc5392, #f86f64);
}

.menuBtn-gradient-10 {
    background-image: linear-gradient(130deg, #f08d26, #fd644f);
}

.menuBtn-gradient-11 {
    background-image: linear-gradient(130deg, #98e05f, #68e0cf);
}

.menuBtn-gradient-12 {
    background-image: linear-gradient(130deg, #f5ca6a, #fba980);
}

.menuBtn-gradient-13 {
    background-image: linear-gradient(130deg, #2fb383, #18a86b);
}

.menuBtn-gradient-14 {
    background-image: linear-gradient(130deg, #f8da78, #f2b54d, #f8da77);
}

.menuBtn-gradient-15 {
    background-image: linear-gradient(130deg, #38f8d3, #44eb82);
}

.menuBtn-gradient-16 {
    background-image: linear-gradient(130deg, #0bbafb, #4285ec);
}

.menuBtn-gradient-17 {
    background-image: linear-gradient(130deg, #fddb45, #fb7099);
}
.menuBtn-gradient-18 {
    background-image: linear-gradient(130deg, #ffeaa4, #e6b859);
}

/*  */
.menuBtn-gradient-by-1 {
    background-image: linear-gradient(130deg, #09bbfe, #5a42ec);
}

.menuBtn-gradient-by-2 {
    background-image: linear-gradient(130deg, #46aef7, #1ed5e6);
}

.menuBtn-gradient-by-3 {
    background-image: linear-gradient(130deg, #6975dd, #7355b0);
}

.menuBtn-gradient-by-4 {
    background-image: linear-gradient(130deg, #3fbbfe, #a541ff);
}

.menuBtn-gradient-by-5 {
    background-image: linear-gradient(130deg, #09bbfe, #5a42ec);
}

.menuBtn-gradient-by-6 {
    background-image: linear-gradient(130deg, #46aef7, #1dd5e6);
}

.menuBtn-gradient-by-7 {
    background-image: linear-gradient(130deg, #6975dd, #7355b0);
}

.menuBtn-gradient-by-8 {
    background-image: linear-gradient(130deg, #40bbfe, #a541ff);
}

/*  */
/* 设置滚动条的宽度和颜色 */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #181a20;
}

/* 设置滚动条的滑块样式 */
::-webkit-scrollbar-thumb {
    background-color: #252a36;
    border-radius: 5px;
}

/* 设置滚动条的滑块悬停样式 */
::-webkit-scrollbar-thumb:hover {
    background-color: #2c313e;
}

/* Firefox浏览器的滚动条样式 */
/* 设置滚动条的宽度和颜色 */
::-moz-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #181a20;
    scrollbar-width: thin;
    scrollbar-color: #252a36 #252a36;
}

/* 设置滚动条的滑块样式 */
::-moz-scrollbar-thumb {
    background-color: #252a36;
    border-radius: 5px;
}

/* 设置滚动条的滑块悬停样式 */
::-moz-scrollbar-thumb:hover {
    background-color: #2c313e;
}

.boxshow-blue {
    box-shadow: 0px 6px 16px -1px rgba(0, 119, 255, 0.758);
}
.back-grad-all {
    background-image: linear-gradient(138deg, rgba(39, 46, 67, 0.68), rgba(30, 33, 42, 0.45));
    /* background-color: rgba(39, 46, 67, 0.68); */
}
.whiteFont {
    font-weight: bold;
    -webkit-text-stroke: 1px #e6b55f;
    -moz-text-stroke: 1px #e6b55f;
    /* Firefox */
    -ms-text-stroke: 1px #e6b55f;
    /* Edge */
    text-stroke: 1px #e6b55f;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    /* Firefox */
    -ms-text-fill-color: transparent;
    /* Edge */
    text-fill-color: transparent;
}

.jiaobiaoAll {
    position: absolute;
    right: -1.28rem;
    top: 0.2rem;
    height: 0.65rem;
    line-height: 0.65rem;
    width: 3.6rem;
    text-align: center;
    font-size: 0.28rem;
    color: #fff;
    transform: rotate(45deg);
}
.line-all-dotted{
    border-bottom: 1px dotted rgba(82, 88, 106, 0.5);
}
.line-all-solid {
    border-bottom: 1px solid rgba(82, 88, 106, 0.5);
}
/*  */
:root {
    --default-color: #c0c6db;
    --default-back-color: #181a20;
    --color-white: #fff;
    --color-jili: #e6b55f;
    --color-jili-black: #13151a;
    --back130-gradient-jili: linear-gradient(130deg, #e6b55f, #eac673);
    --back130-gradient-1: linear-gradient(130deg, #3fbbfe, #a541ff);
    --back130-gradient-2: linear-gradient(130deg, #4facfe, #00f2fe);
    --back130-gradient-3: linear-gradient(130deg, #fddb45, #fb7099);
    --back130-gradient-4: linear-gradient(130deg, #98e05f, #0de3ac);
    --back130-gradient-5: linear-gradient(130deg, #09bbfe, #5a42ec);
}

/*  */
@keyframes bannervip {
    0% {
        background-position: 0;
    }

    100% {
        background-position: -8619px;
    }
}
